

.topbarContainer {
    background-color: #2c517c;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center; /* 中央にする */
    position: sticky; /* 上部に常に固定 */
    top: 0;
    z-index: 100;
}

/* flexで3:5:4に分ける */

.topbarLeft {
    flex: 3; /* 3/12 の比率で割り当て */
}

.logo {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 20px;
}

.topbarCenter {
    flex: 5; /* 5/12 の比率で割り当て */
}

.searchbar {
    width: 100%;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

/* アイコンのCSS */
.searchbar > .searchIcon {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 5px;
}

/* 検索ボックス */
.searchInput {
    border: none; /* 枠線削除 */
    width: 80%;
}
.searchInput:focus {
    outline: none; /* 枠線削除 */

}

.topbarRight {
    flex: 4; /* 4/12 の比率で割り当て */
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
}

.topbarItemIcons {
    display: flex;
}

.topbarIconItem {
    margin-left: 15px;
    cursor: pointer;
    position: relative;
    margin-top: 5px;
}

.topbarIconBadge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #db6ab9;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;

}